<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="input">
        <div>{{input}}</div>

        <input type="radio" v-model="gender" value="男">
        <input type="radio" v-model="gender" value="女">
        <input type="radio" v-model="gender" value="不公開">
        <div>{{gender}}</div>
    </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    input:'asdf',
                    gender:''
                }
            }
        }).mount('#app');
    </script>
</body>
</html>