<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <select name="" id="" v-model="city" @change="getWeather">
            <option value="taipei">台北</option>
            <option value="tokyo">東京</option>
            <option value="Hokkaido">北海道</option>
            <option value="Osaka">大阪</option>
        </select>
        <div v-if="city != '' ">
            <div>地區:{{data.name}}</div>
            <div>
                目前溫度:{{data.main.temp}}
            </div>
            <div>
                體感溫度:{{data.main.feels_like}}
            </div>
            <div>
                濕度{{data.main.humidity}}%
            </div>
            <div>
                {{data.weather[0].description}}
            </div>
        </div>
    </div>
    <script>
        // https://api.openweathermap.org/data/2.5/weather?q=taipei&units=metric&appid=b1ecbccd638b763d489602917ba47cc3
        // let url = 'https://api.openweathermap.org/data/2.5/weather?q=taipei&units=metric&appid=b1ecbccd638b763d489602917ba47cc3';
        // fetch(url)
        // .then(res=>res.json())
        // .then(data=>{
        //     console.log(data);
        // })
        Vue.createApp({
            data(){
                return {
                    data:[],
                    city:''
                }
            },
            methods:{
                getWeather(){
                    // console.log(this.city)
                    let city = this.city;
                    let url = 'https://api.openweathermap.org/data/2.5/weather?q='+city+'&units=metric&lang=zh_TW&appid=b1ecbccd638b763d489602917ba47cc3';
                    fetch(url)
                    .then(res=>res.json())
                    .then(data=>{
                        console.log(data)
                        this.data = data;
                })
            }
        }



            // created(){
            //     let url = 'https://api.openweathermap.org/data/2.5/weather?q=Hokkaido&units=metric&lang=zh_TW&appid=b1ecbccd638b763d489602917ba47cc3';
            // fetch(url)
            // .then(res=>res.json())
            // .then(data=>{
            //     console.log(data)
            //     this.weather = data;
            // })
            // }
        }).mount('#app')
    </script>
</body>
</html>